/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

p {
    margin: 10px 0;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px #888;
}

ul, ol {
    margin: 20px 0;
    padding: 0;
    list-style-position: inside;
}

ul li, ol li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #333;
    color: #fff;
}

form {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
}

button[type="submit"] { 
    background: #333; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    transition: 
    background 0.3s, transform 0.3s; 
}
button[type="submit"]:hover { 
    background: #555; 
}

button[type="submit"]:active { 
    transform: scale(0.95); 
}
